html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2; }

.u_margin_bottom--large {
  margin-bottom: 8.2rem; }

.u_margin_bottom--medium {
  margin-bottom: 4.8rem; }

.u_margin_bottom--small {
  margin-bottom: 4rem; }

.u_center_box {
  margin: 0 auto; }

.children_margin-bottom > * {
  margin-bottom: 2.4rem; }

@keyframes moveDown {
  from {
    transform: translateY(-4rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveUp {
  from {
    transform: translateY(4rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideLeft {
  from {
    transform: translateX(50rem);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

.header__main {
  max-width: 70%;
  margin-left: 2rem;
  padding: 4rem 8rem;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #ffffff, #d8e2e7);
  border-radius: 0 0 4rem 4rem;
  position: relative; }
  .header__main-textbox {
    max-width: 60%; }
  .header__main-heading-main {
    font-size: 4.8rem;
    font-weight: 600;
    color: #253347;
    animation: moveDown 1s; }
  .header__main-text-main {
    font-size: 1.6rem;
    color: #5e6e85;
    animation: moveUp 1s; }

.bmi__calcbox {
  max-width: 45%;
  padding: 4rem 4rem;
  border-radius: 2rem;
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  right: 5%;
  box-shadow: 2rem 0 8rem rgba(37, 51, 71, 0.15);
  overflow: hidden;
  animation: slideLeft 1s;
  backface-visibility: hidden; }
  .bmi__calcbox-heading {
    font-size: 2.4rem;
    font-weight: 600;
    color: #253347; }
  .bmi__calcbox .form {
    font-family: inherit; }
    .bmi__calcbox .form__radio-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; }
      .bmi__calcbox .form__radio-group .radio__group .radio__input {
        display: none; }
      .bmi__calcbox .form__radio-group .radio__group .radio__label {
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        color: #253347;
        cursor: pointer;
        position: relative;
        padding-left: 4rem; }
        .bmi__calcbox .form__radio-group .radio__group .radio__label .radio__btn {
          display: inline-block;
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 50%;
          border: 0.1rem solid #d8e2e7;
          position: absolute;
          left: 0;
          top: -0.4rem; }
          .bmi__calcbox .form__radio-group .radio__group .radio__label .radio__btn:hover {
            border: 0.1rem solid #345ff6; }
          .bmi__calcbox .form__radio-group .radio__group .radio__label .radio__btn::after {
            content: "";
            display: block;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            background-color: #345ff6;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s; }
      .bmi__calcbox .form__radio-group .radio__group .radio__input:checked + .radio__label .radio__btn {
        background-color: #d8e2e7; }
      .bmi__calcbox .form__radio-group .radio__group .radio__input:checked + .radio__label .radio__btn::after {
        opacity: 1; }
    .bmi__calcbox .form__input-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .bmi__calcbox .form__input-group .input__group {
        display: inline-block; }
        .bmi__calcbox .form__input-group .input__group .input__type {
          max-width: 70%;
          display: block;
          font-family: inherit;
          font-size: 2rem;
          font-weight: 700;
          text-indent: 2rem;
          margin-top: 1rem;
          padding: 1.8rem 0;
          border-radius: 0.6rem;
          border: 0.1rem solid #d8e2e7;
          cursor: pointer; }
          .bmi__calcbox .form__input-group .input__group .input__type:hover, .bmi__calcbox .form__input-group .input__group .input__type:focus, .bmi__calcbox .form__input-group .input__group .input__type:focus-visible {
            border: 0.1rem solid #345ff6; }
          .bmi__calcbox .form__input-group .input__group .input__type::placeholder {
            font-size: 2rem;
            font-weight: 700;
            color: #d8e2e7; }
        .bmi__calcbox .form__input-group .input__group .input__label {
          font-size: 1.4rem;
          font-weight: 400;
          color: #5e6e85; }
  .bmi__calcbox .result__box {
    padding: 2.4rem 4rem;
    background-color: #345ff6;
    color: #ffffff; }
    .bmi__calcbox .result__box .display__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5.2rem; }
      .bmi__calcbox .result__box .display__box-result .result__tip {
        margin-bottom: 2rem;
        font-size: 1.6rem; }
      .bmi__calcbox .result__box .display__box-result .bmi__result {
        font-size: 5.2rem;
        font-weight: 700; }
      .bmi__calcbox .result__box .display__box-recommendation {
        font-size: 1.6rem; }
        .bmi__calcbox .result__box .display__box-recommendation .bmi__recommendation {
          line-height: 1.5; }
        .bmi__calcbox .result__box .display__box-recommendation .min-bmi,
        .bmi__calcbox .result__box .display__box-recommendation .dash-separator,
        .bmi__calcbox .result__box .display__box-recommendation .max-bmi {
          font-weight: 700; }
    .bmi__calcbox .result__box-welcome {
      font-size: 2.4rem;
      margin-bottom: 1.6rem; }
    .bmi__calcbox .result__box-info {
      font-size: 1.6rem; }

.section__result-analysis .wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }
  .section__result-analysis .wrapper__img-container {
    margin: 0 auto; }
    .section__result-analysis .wrapper__img-container .image {
      height: 50rem; }
  .section__result-analysis .wrapper__analysis-container {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem; }
    .section__result-analysis .wrapper__analysis-container .analysis__heading {
      margin-top: 10rem;
      letter-spacing: 0.1rem;
      font-size: 4.8rem;
      font-weight: 600;
      color: #253347; }
    .section__result-analysis .wrapper__analysis-container .analysis__description {
      font-size: 1.6rem;
      line-height: 1.5;
      color: #5e6e85; }

.section__guidelines {
  padding: 4rem;
  margin: 8rem 0;
  background-color: #d8e2e7; }
  .section__guidelines-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem; }
    .section__guidelines-container .guideline__item {
      padding: 0 2rem; }
      .section__guidelines-container .guideline__item-heading {
        font-size: 2.4rem;
        font-weight: 500;
        color: #253347; }
      .section__guidelines-container .guideline__item-description {
        font-size: 1.6rem;
        color: #5e6e85; }
