html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2; }

.u_margin_bottom--large {
  margin-bottom: 8.2rem; }

.u_margin_bottom--medium {
  margin-bottom: 4.8rem; }

.u_margin_bottom--small {
  margin-bottom: 4rem; }

.children_margin-bottom > * {
  margin-bottom: 2.4rem; }

@keyframes moveDown {
  from {
    transform: translateY(-4rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveUp {
  from {
    transform: translateY(4rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideLeft {
  from {
    transform: translateX(50rem);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideRight {
  from {
    transform: translateX(-50rem);
    opacity: 0; }
  to {
    transform: translate(0);
    opacity: 1; } }

.bmi__calcbox {
  max-width: 50%;
  padding: 4rem 4rem;
  border-radius: 2rem;
  background-color: #ffffff;
  position: absolute;
  top: 12rem;
  right: 4rem;
  box-shadow: 2rem 0 8rem rgba(37, 51, 71, 0.15); }
  @media (max-width: 56.25em) {
    .bmi__calcbox {
      max-width: 100%;
      top: 48rem;
      right: 15rem; } }
  @media (max-width: 37.75em) {
    .bmi__calcbox {
      max-width: 80%;
      top: 60rem;
      right: 5rem; } }
  .bmi__calcbox-heading {
    font-size: 2.4rem;
    font-weight: 600;
    color: #253347; }
  .bmi__calcbox .form__radio {
    font-family: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }
    .bmi__calcbox .form__radio .radio__group .radio__input {
      display: none; }
    .bmi__calcbox .form__radio .radio__group .radio__label {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      color: #253347;
      cursor: pointer;
      position: relative;
      padding-left: 4rem; }
      .bmi__calcbox .form__radio .radio__group .radio__label .radio__btn {
        display: inline-block;
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        border: 0.1rem solid #d8e2e7;
        position: absolute;
        left: 0;
        top: -0.4rem; }
        .bmi__calcbox .form__radio .radio__group .radio__label .radio__btn:hover {
          border: 0.1rem solid #345ff6; }
        .bmi__calcbox .form__radio .radio__group .radio__label .radio__btn::after {
          content: "";
          display: block;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 50%;
          background-color: #345ff6;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s; }
    .bmi__calcbox .form__radio .radio__group .radio__input:checked + .radio__label .radio__btn {
      background-color: #d8e2e7; }
    .bmi__calcbox .form__radio .radio__group .radio__input:checked + .radio__label .radio__btn::after {
      opacity: 1; }
  .bmi__calcbox .form__metric,
  .bmi__calcbox .form__imperial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    margin-bottom: 2rem; }
    .bmi__calcbox .form__metric-height .input__label,
    .bmi__calcbox .form__metric-height .input__label-invisible, .bmi__calcbox .form__metric-weight .input__label,
    .bmi__calcbox .form__metric-weight .input__label-invisible,
    .bmi__calcbox .form__imperial-height .input__label,
    .bmi__calcbox .form__imperial-height .input__label-invisible,
    .bmi__calcbox .form__imperial-weight .input__label,
    .bmi__calcbox .form__imperial-weight .input__label-invisible {
      display: block;
      font-size: 1.6rem;
      color: #5e6e85;
      font-weight: 400;
      margin-bottom: 1rem; }
    .bmi__calcbox .form__metric-height .input__label-invisible, .bmi__calcbox .form__metric-weight .input__label-invisible,
    .bmi__calcbox .form__imperial-height .input__label-invisible,
    .bmi__calcbox .form__imperial-weight .input__label-invisible {
      opacity: 0; }
    .bmi__calcbox .form__metric-height .input__type, .bmi__calcbox .form__metric-weight .input__type,
    .bmi__calcbox .form__imperial-height .input__type,
    .bmi__calcbox .form__imperial-weight .input__type {
      box-sizing: border-box;
      width: 100%;
      font-family: inherit;
      font-size: 2rem;
      font-weight: 700;
      text-indent: 2rem;
      padding: 1.8rem 0;
      border-radius: 0.6rem;
      border: 0.1rem solid #d8e2e7;
      cursor: pointer; }
      .bmi__calcbox .form__metric-height .input__type:hover, .bmi__calcbox .form__metric-height .input__type:focus, .bmi__calcbox .form__metric-height .input__type:focus-visible, .bmi__calcbox .form__metric-weight .input__type:hover, .bmi__calcbox .form__metric-weight .input__type:focus, .bmi__calcbox .form__metric-weight .input__type:focus-visible,
      .bmi__calcbox .form__imperial-height .input__type:hover,
      .bmi__calcbox .form__imperial-height .input__type:focus,
      .bmi__calcbox .form__imperial-height .input__type:focus-visible,
      .bmi__calcbox .form__imperial-weight .input__type:hover,
      .bmi__calcbox .form__imperial-weight .input__type:focus,
      .bmi__calcbox .form__imperial-weight .input__type:focus-visible {
        border: 0.1rem solid #345ff6; }
      .bmi__calcbox .form__metric-height .input__type::placeholder, .bmi__calcbox .form__metric-weight .input__type::placeholder,
      .bmi__calcbox .form__imperial-height .input__type::placeholder,
      .bmi__calcbox .form__imperial-weight .input__type::placeholder {
        font-size: 2rem;
        font-weight: 700;
        color: #d8e2e7; }
    .bmi__calcbox .form__metric-height .cm__container,
    .bmi__calcbox .form__metric-height .kg__container,
    .bmi__calcbox .form__metric-height .foot__container,
    .bmi__calcbox .form__metric-height .inch__container,
    .bmi__calcbox .form__metric-height .stone__container,
    .bmi__calcbox .form__metric-height .pounds__container, .bmi__calcbox .form__metric-weight .cm__container,
    .bmi__calcbox .form__metric-weight .kg__container,
    .bmi__calcbox .form__metric-weight .foot__container,
    .bmi__calcbox .form__metric-weight .inch__container,
    .bmi__calcbox .form__metric-weight .stone__container,
    .bmi__calcbox .form__metric-weight .pounds__container,
    .bmi__calcbox .form__imperial-height .cm__container,
    .bmi__calcbox .form__imperial-height .kg__container,
    .bmi__calcbox .form__imperial-height .foot__container,
    .bmi__calcbox .form__imperial-height .inch__container,
    .bmi__calcbox .form__imperial-height .stone__container,
    .bmi__calcbox .form__imperial-height .pounds__container,
    .bmi__calcbox .form__imperial-weight .cm__container,
    .bmi__calcbox .form__imperial-weight .kg__container,
    .bmi__calcbox .form__imperial-weight .foot__container,
    .bmi__calcbox .form__imperial-weight .inch__container,
    .bmi__calcbox .form__imperial-weight .stone__container,
    .bmi__calcbox .form__imperial-weight .pounds__container {
      position: relative; }
      .bmi__calcbox .form__metric-height .cm__container .cm,
      .bmi__calcbox .form__metric-height .cm__container .kg,
      .bmi__calcbox .form__metric-height .cm__container .ft,
      .bmi__calcbox .form__metric-height .cm__container .in,
      .bmi__calcbox .form__metric-height .cm__container .st,
      .bmi__calcbox .form__metric-height .cm__container .lbs,
      .bmi__calcbox .form__metric-height .kg__container .cm,
      .bmi__calcbox .form__metric-height .kg__container .kg,
      .bmi__calcbox .form__metric-height .kg__container .ft,
      .bmi__calcbox .form__metric-height .kg__container .in,
      .bmi__calcbox .form__metric-height .kg__container .st,
      .bmi__calcbox .form__metric-height .kg__container .lbs,
      .bmi__calcbox .form__metric-height .foot__container .cm,
      .bmi__calcbox .form__metric-height .foot__container .kg,
      .bmi__calcbox .form__metric-height .foot__container .ft,
      .bmi__calcbox .form__metric-height .foot__container .in,
      .bmi__calcbox .form__metric-height .foot__container .st,
      .bmi__calcbox .form__metric-height .foot__container .lbs,
      .bmi__calcbox .form__metric-height .inch__container .cm,
      .bmi__calcbox .form__metric-height .inch__container .kg,
      .bmi__calcbox .form__metric-height .inch__container .ft,
      .bmi__calcbox .form__metric-height .inch__container .in,
      .bmi__calcbox .form__metric-height .inch__container .st,
      .bmi__calcbox .form__metric-height .inch__container .lbs,
      .bmi__calcbox .form__metric-height .stone__container .cm,
      .bmi__calcbox .form__metric-height .stone__container .kg,
      .bmi__calcbox .form__metric-height .stone__container .ft,
      .bmi__calcbox .form__metric-height .stone__container .in,
      .bmi__calcbox .form__metric-height .stone__container .st,
      .bmi__calcbox .form__metric-height .stone__container .lbs,
      .bmi__calcbox .form__metric-height .pounds__container .cm,
      .bmi__calcbox .form__metric-height .pounds__container .kg,
      .bmi__calcbox .form__metric-height .pounds__container .ft,
      .bmi__calcbox .form__metric-height .pounds__container .in,
      .bmi__calcbox .form__metric-height .pounds__container .st,
      .bmi__calcbox .form__metric-height .pounds__container .lbs, .bmi__calcbox .form__metric-weight .cm__container .cm,
      .bmi__calcbox .form__metric-weight .cm__container .kg,
      .bmi__calcbox .form__metric-weight .cm__container .ft,
      .bmi__calcbox .form__metric-weight .cm__container .in,
      .bmi__calcbox .form__metric-weight .cm__container .st,
      .bmi__calcbox .form__metric-weight .cm__container .lbs,
      .bmi__calcbox .form__metric-weight .kg__container .cm,
      .bmi__calcbox .form__metric-weight .kg__container .kg,
      .bmi__calcbox .form__metric-weight .kg__container .ft,
      .bmi__calcbox .form__metric-weight .kg__container .in,
      .bmi__calcbox .form__metric-weight .kg__container .st,
      .bmi__calcbox .form__metric-weight .kg__container .lbs,
      .bmi__calcbox .form__metric-weight .foot__container .cm,
      .bmi__calcbox .form__metric-weight .foot__container .kg,
      .bmi__calcbox .form__metric-weight .foot__container .ft,
      .bmi__calcbox .form__metric-weight .foot__container .in,
      .bmi__calcbox .form__metric-weight .foot__container .st,
      .bmi__calcbox .form__metric-weight .foot__container .lbs,
      .bmi__calcbox .form__metric-weight .inch__container .cm,
      .bmi__calcbox .form__metric-weight .inch__container .kg,
      .bmi__calcbox .form__metric-weight .inch__container .ft,
      .bmi__calcbox .form__metric-weight .inch__container .in,
      .bmi__calcbox .form__metric-weight .inch__container .st,
      .bmi__calcbox .form__metric-weight .inch__container .lbs,
      .bmi__calcbox .form__metric-weight .stone__container .cm,
      .bmi__calcbox .form__metric-weight .stone__container .kg,
      .bmi__calcbox .form__metric-weight .stone__container .ft,
      .bmi__calcbox .form__metric-weight .stone__container .in,
      .bmi__calcbox .form__metric-weight .stone__container .st,
      .bmi__calcbox .form__metric-weight .stone__container .lbs,
      .bmi__calcbox .form__metric-weight .pounds__container .cm,
      .bmi__calcbox .form__metric-weight .pounds__container .kg,
      .bmi__calcbox .form__metric-weight .pounds__container .ft,
      .bmi__calcbox .form__metric-weight .pounds__container .in,
      .bmi__calcbox .form__metric-weight .pounds__container .st,
      .bmi__calcbox .form__metric-weight .pounds__container .lbs,
      .bmi__calcbox .form__imperial-height .cm__container .cm,
      .bmi__calcbox .form__imperial-height .cm__container .kg,
      .bmi__calcbox .form__imperial-height .cm__container .ft,
      .bmi__calcbox .form__imperial-height .cm__container .in,
      .bmi__calcbox .form__imperial-height .cm__container .st,
      .bmi__calcbox .form__imperial-height .cm__container .lbs,
      .bmi__calcbox .form__imperial-height .kg__container .cm,
      .bmi__calcbox .form__imperial-height .kg__container .kg,
      .bmi__calcbox .form__imperial-height .kg__container .ft,
      .bmi__calcbox .form__imperial-height .kg__container .in,
      .bmi__calcbox .form__imperial-height .kg__container .st,
      .bmi__calcbox .form__imperial-height .kg__container .lbs,
      .bmi__calcbox .form__imperial-height .foot__container .cm,
      .bmi__calcbox .form__imperial-height .foot__container .kg,
      .bmi__calcbox .form__imperial-height .foot__container .ft,
      .bmi__calcbox .form__imperial-height .foot__container .in,
      .bmi__calcbox .form__imperial-height .foot__container .st,
      .bmi__calcbox .form__imperial-height .foot__container .lbs,
      .bmi__calcbox .form__imperial-height .inch__container .cm,
      .bmi__calcbox .form__imperial-height .inch__container .kg,
      .bmi__calcbox .form__imperial-height .inch__container .ft,
      .bmi__calcbox .form__imperial-height .inch__container .in,
      .bmi__calcbox .form__imperial-height .inch__container .st,
      .bmi__calcbox .form__imperial-height .inch__container .lbs,
      .bmi__calcbox .form__imperial-height .stone__container .cm,
      .bmi__calcbox .form__imperial-height .stone__container .kg,
      .bmi__calcbox .form__imperial-height .stone__container .ft,
      .bmi__calcbox .form__imperial-height .stone__container .in,
      .bmi__calcbox .form__imperial-height .stone__container .st,
      .bmi__calcbox .form__imperial-height .stone__container .lbs,
      .bmi__calcbox .form__imperial-height .pounds__container .cm,
      .bmi__calcbox .form__imperial-height .pounds__container .kg,
      .bmi__calcbox .form__imperial-height .pounds__container .ft,
      .bmi__calcbox .form__imperial-height .pounds__container .in,
      .bmi__calcbox .form__imperial-height .pounds__container .st,
      .bmi__calcbox .form__imperial-height .pounds__container .lbs,
      .bmi__calcbox .form__imperial-weight .cm__container .cm,
      .bmi__calcbox .form__imperial-weight .cm__container .kg,
      .bmi__calcbox .form__imperial-weight .cm__container .ft,
      .bmi__calcbox .form__imperial-weight .cm__container .in,
      .bmi__calcbox .form__imperial-weight .cm__container .st,
      .bmi__calcbox .form__imperial-weight .cm__container .lbs,
      .bmi__calcbox .form__imperial-weight .kg__container .cm,
      .bmi__calcbox .form__imperial-weight .kg__container .kg,
      .bmi__calcbox .form__imperial-weight .kg__container .ft,
      .bmi__calcbox .form__imperial-weight .kg__container .in,
      .bmi__calcbox .form__imperial-weight .kg__container .st,
      .bmi__calcbox .form__imperial-weight .kg__container .lbs,
      .bmi__calcbox .form__imperial-weight .foot__container .cm,
      .bmi__calcbox .form__imperial-weight .foot__container .kg,
      .bmi__calcbox .form__imperial-weight .foot__container .ft,
      .bmi__calcbox .form__imperial-weight .foot__container .in,
      .bmi__calcbox .form__imperial-weight .foot__container .st,
      .bmi__calcbox .form__imperial-weight .foot__container .lbs,
      .bmi__calcbox .form__imperial-weight .inch__container .cm,
      .bmi__calcbox .form__imperial-weight .inch__container .kg,
      .bmi__calcbox .form__imperial-weight .inch__container .ft,
      .bmi__calcbox .form__imperial-weight .inch__container .in,
      .bmi__calcbox .form__imperial-weight .inch__container .st,
      .bmi__calcbox .form__imperial-weight .inch__container .lbs,
      .bmi__calcbox .form__imperial-weight .stone__container .cm,
      .bmi__calcbox .form__imperial-weight .stone__container .kg,
      .bmi__calcbox .form__imperial-weight .stone__container .ft,
      .bmi__calcbox .form__imperial-weight .stone__container .in,
      .bmi__calcbox .form__imperial-weight .stone__container .st,
      .bmi__calcbox .form__imperial-weight .stone__container .lbs,
      .bmi__calcbox .form__imperial-weight .pounds__container .cm,
      .bmi__calcbox .form__imperial-weight .pounds__container .kg,
      .bmi__calcbox .form__imperial-weight .pounds__container .ft,
      .bmi__calcbox .form__imperial-weight .pounds__container .in,
      .bmi__calcbox .form__imperial-weight .pounds__container .st,
      .bmi__calcbox .form__imperial-weight .pounds__container .lbs {
        position: absolute;
        font-size: 2rem;
        font-weight: 700;
        color: #345ff6;
        top: -4.6rem;
        left: 22rem; }
      @media (max-width: 56.25em) {
        .bmi__calcbox .form__metric-height .cm__container .cm,
        .bmi__calcbox .form__metric-height .cm__container .kg,
        .bmi__calcbox .form__metric-height .kg__container .cm,
        .bmi__calcbox .form__metric-height .kg__container .kg,
        .bmi__calcbox .form__metric-height .foot__container .cm,
        .bmi__calcbox .form__metric-height .foot__container .kg,
        .bmi__calcbox .form__metric-height .inch__container .cm,
        .bmi__calcbox .form__metric-height .inch__container .kg,
        .bmi__calcbox .form__metric-height .stone__container .cm,
        .bmi__calcbox .form__metric-height .stone__container .kg,
        .bmi__calcbox .form__metric-height .pounds__container .cm,
        .bmi__calcbox .form__metric-height .pounds__container .kg, .bmi__calcbox .form__metric-weight .cm__container .cm,
        .bmi__calcbox .form__metric-weight .cm__container .kg,
        .bmi__calcbox .form__metric-weight .kg__container .cm,
        .bmi__calcbox .form__metric-weight .kg__container .kg,
        .bmi__calcbox .form__metric-weight .foot__container .cm,
        .bmi__calcbox .form__metric-weight .foot__container .kg,
        .bmi__calcbox .form__metric-weight .inch__container .cm,
        .bmi__calcbox .form__metric-weight .inch__container .kg,
        .bmi__calcbox .form__metric-weight .stone__container .cm,
        .bmi__calcbox .form__metric-weight .stone__container .kg,
        .bmi__calcbox .form__metric-weight .pounds__container .cm,
        .bmi__calcbox .form__metric-weight .pounds__container .kg,
        .bmi__calcbox .form__imperial-height .cm__container .cm,
        .bmi__calcbox .form__imperial-height .cm__container .kg,
        .bmi__calcbox .form__imperial-height .kg__container .cm,
        .bmi__calcbox .form__imperial-height .kg__container .kg,
        .bmi__calcbox .form__imperial-height .foot__container .cm,
        .bmi__calcbox .form__imperial-height .foot__container .kg,
        .bmi__calcbox .form__imperial-height .inch__container .cm,
        .bmi__calcbox .form__imperial-height .inch__container .kg,
        .bmi__calcbox .form__imperial-height .stone__container .cm,
        .bmi__calcbox .form__imperial-height .stone__container .kg,
        .bmi__calcbox .form__imperial-height .pounds__container .cm,
        .bmi__calcbox .form__imperial-height .pounds__container .kg,
        .bmi__calcbox .form__imperial-weight .cm__container .cm,
        .bmi__calcbox .form__imperial-weight .cm__container .kg,
        .bmi__calcbox .form__imperial-weight .kg__container .cm,
        .bmi__calcbox .form__imperial-weight .kg__container .kg,
        .bmi__calcbox .form__imperial-weight .foot__container .cm,
        .bmi__calcbox .form__imperial-weight .foot__container .kg,
        .bmi__calcbox .form__imperial-weight .inch__container .cm,
        .bmi__calcbox .form__imperial-weight .inch__container .kg,
        .bmi__calcbox .form__imperial-weight .stone__container .cm,
        .bmi__calcbox .form__imperial-weight .stone__container .kg,
        .bmi__calcbox .form__imperial-weight .pounds__container .cm,
        .bmi__calcbox .form__imperial-weight .pounds__container .kg {
          left: 25rem; } }
      @media (max-width: 37.75em) {
        .bmi__calcbox .form__metric-height .cm__container .cm,
        .bmi__calcbox .form__metric-height .cm__container .kg,
        .bmi__calcbox .form__metric-height .kg__container .cm,
        .bmi__calcbox .form__metric-height .kg__container .kg,
        .bmi__calcbox .form__metric-height .foot__container .cm,
        .bmi__calcbox .form__metric-height .foot__container .kg,
        .bmi__calcbox .form__metric-height .inch__container .cm,
        .bmi__calcbox .form__metric-height .inch__container .kg,
        .bmi__calcbox .form__metric-height .stone__container .cm,
        .bmi__calcbox .form__metric-height .stone__container .kg,
        .bmi__calcbox .form__metric-height .pounds__container .cm,
        .bmi__calcbox .form__metric-height .pounds__container .kg, .bmi__calcbox .form__metric-weight .cm__container .cm,
        .bmi__calcbox .form__metric-weight .cm__container .kg,
        .bmi__calcbox .form__metric-weight .kg__container .cm,
        .bmi__calcbox .form__metric-weight .kg__container .kg,
        .bmi__calcbox .form__metric-weight .foot__container .cm,
        .bmi__calcbox .form__metric-weight .foot__container .kg,
        .bmi__calcbox .form__metric-weight .inch__container .cm,
        .bmi__calcbox .form__metric-weight .inch__container .kg,
        .bmi__calcbox .form__metric-weight .stone__container .cm,
        .bmi__calcbox .form__metric-weight .stone__container .kg,
        .bmi__calcbox .form__metric-weight .pounds__container .cm,
        .bmi__calcbox .form__metric-weight .pounds__container .kg,
        .bmi__calcbox .form__imperial-height .cm__container .cm,
        .bmi__calcbox .form__imperial-height .cm__container .kg,
        .bmi__calcbox .form__imperial-height .kg__container .cm,
        .bmi__calcbox .form__imperial-height .kg__container .kg,
        .bmi__calcbox .form__imperial-height .foot__container .cm,
        .bmi__calcbox .form__imperial-height .foot__container .kg,
        .bmi__calcbox .form__imperial-height .inch__container .cm,
        .bmi__calcbox .form__imperial-height .inch__container .kg,
        .bmi__calcbox .form__imperial-height .stone__container .cm,
        .bmi__calcbox .form__imperial-height .stone__container .kg,
        .bmi__calcbox .form__imperial-height .pounds__container .cm,
        .bmi__calcbox .form__imperial-height .pounds__container .kg,
        .bmi__calcbox .form__imperial-weight .cm__container .cm,
        .bmi__calcbox .form__imperial-weight .cm__container .kg,
        .bmi__calcbox .form__imperial-weight .kg__container .cm,
        .bmi__calcbox .form__imperial-weight .kg__container .kg,
        .bmi__calcbox .form__imperial-weight .foot__container .cm,
        .bmi__calcbox .form__imperial-weight .foot__container .kg,
        .bmi__calcbox .form__imperial-weight .inch__container .cm,
        .bmi__calcbox .form__imperial-weight .inch__container .kg,
        .bmi__calcbox .form__imperial-weight .stone__container .cm,
        .bmi__calcbox .form__imperial-weight .stone__container .kg,
        .bmi__calcbox .form__imperial-weight .pounds__container .cm,
        .bmi__calcbox .form__imperial-weight .pounds__container .kg {
          left: 28.4rem; } }
      @media (max-width: 56.25em) {
        .bmi__calcbox .form__metric-height .cm__container .ft,
        .bmi__calcbox .form__metric-height .cm__container .in,
        .bmi__calcbox .form__metric-height .cm__container .st,
        .bmi__calcbox .form__metric-height .cm__container .lbs,
        .bmi__calcbox .form__metric-height .kg__container .ft,
        .bmi__calcbox .form__metric-height .kg__container .in,
        .bmi__calcbox .form__metric-height .kg__container .st,
        .bmi__calcbox .form__metric-height .kg__container .lbs,
        .bmi__calcbox .form__metric-height .foot__container .ft,
        .bmi__calcbox .form__metric-height .foot__container .in,
        .bmi__calcbox .form__metric-height .foot__container .st,
        .bmi__calcbox .form__metric-height .foot__container .lbs,
        .bmi__calcbox .form__metric-height .inch__container .ft,
        .bmi__calcbox .form__metric-height .inch__container .in,
        .bmi__calcbox .form__metric-height .inch__container .st,
        .bmi__calcbox .form__metric-height .inch__container .lbs,
        .bmi__calcbox .form__metric-height .stone__container .ft,
        .bmi__calcbox .form__metric-height .stone__container .in,
        .bmi__calcbox .form__metric-height .stone__container .st,
        .bmi__calcbox .form__metric-height .stone__container .lbs,
        .bmi__calcbox .form__metric-height .pounds__container .ft,
        .bmi__calcbox .form__metric-height .pounds__container .in,
        .bmi__calcbox .form__metric-height .pounds__container .st,
        .bmi__calcbox .form__metric-height .pounds__container .lbs, .bmi__calcbox .form__metric-weight .cm__container .ft,
        .bmi__calcbox .form__metric-weight .cm__container .in,
        .bmi__calcbox .form__metric-weight .cm__container .st,
        .bmi__calcbox .form__metric-weight .cm__container .lbs,
        .bmi__calcbox .form__metric-weight .kg__container .ft,
        .bmi__calcbox .form__metric-weight .kg__container .in,
        .bmi__calcbox .form__metric-weight .kg__container .st,
        .bmi__calcbox .form__metric-weight .kg__container .lbs,
        .bmi__calcbox .form__metric-weight .foot__container .ft,
        .bmi__calcbox .form__metric-weight .foot__container .in,
        .bmi__calcbox .form__metric-weight .foot__container .st,
        .bmi__calcbox .form__metric-weight .foot__container .lbs,
        .bmi__calcbox .form__metric-weight .inch__container .ft,
        .bmi__calcbox .form__metric-weight .inch__container .in,
        .bmi__calcbox .form__metric-weight .inch__container .st,
        .bmi__calcbox .form__metric-weight .inch__container .lbs,
        .bmi__calcbox .form__metric-weight .stone__container .ft,
        .bmi__calcbox .form__metric-weight .stone__container .in,
        .bmi__calcbox .form__metric-weight .stone__container .st,
        .bmi__calcbox .form__metric-weight .stone__container .lbs,
        .bmi__calcbox .form__metric-weight .pounds__container .ft,
        .bmi__calcbox .form__metric-weight .pounds__container .in,
        .bmi__calcbox .form__metric-weight .pounds__container .st,
        .bmi__calcbox .form__metric-weight .pounds__container .lbs,
        .bmi__calcbox .form__imperial-height .cm__container .ft,
        .bmi__calcbox .form__imperial-height .cm__container .in,
        .bmi__calcbox .form__imperial-height .cm__container .st,
        .bmi__calcbox .form__imperial-height .cm__container .lbs,
        .bmi__calcbox .form__imperial-height .kg__container .ft,
        .bmi__calcbox .form__imperial-height .kg__container .in,
        .bmi__calcbox .form__imperial-height .kg__container .st,
        .bmi__calcbox .form__imperial-height .kg__container .lbs,
        .bmi__calcbox .form__imperial-height .foot__container .ft,
        .bmi__calcbox .form__imperial-height .foot__container .in,
        .bmi__calcbox .form__imperial-height .foot__container .st,
        .bmi__calcbox .form__imperial-height .foot__container .lbs,
        .bmi__calcbox .form__imperial-height .inch__container .ft,
        .bmi__calcbox .form__imperial-height .inch__container .in,
        .bmi__calcbox .form__imperial-height .inch__container .st,
        .bmi__calcbox .form__imperial-height .inch__container .lbs,
        .bmi__calcbox .form__imperial-height .stone__container .ft,
        .bmi__calcbox .form__imperial-height .stone__container .in,
        .bmi__calcbox .form__imperial-height .stone__container .st,
        .bmi__calcbox .form__imperial-height .stone__container .lbs,
        .bmi__calcbox .form__imperial-height .pounds__container .ft,
        .bmi__calcbox .form__imperial-height .pounds__container .in,
        .bmi__calcbox .form__imperial-height .pounds__container .st,
        .bmi__calcbox .form__imperial-height .pounds__container .lbs,
        .bmi__calcbox .form__imperial-weight .cm__container .ft,
        .bmi__calcbox .form__imperial-weight .cm__container .in,
        .bmi__calcbox .form__imperial-weight .cm__container .st,
        .bmi__calcbox .form__imperial-weight .cm__container .lbs,
        .bmi__calcbox .form__imperial-weight .kg__container .ft,
        .bmi__calcbox .form__imperial-weight .kg__container .in,
        .bmi__calcbox .form__imperial-weight .kg__container .st,
        .bmi__calcbox .form__imperial-weight .kg__container .lbs,
        .bmi__calcbox .form__imperial-weight .foot__container .ft,
        .bmi__calcbox .form__imperial-weight .foot__container .in,
        .bmi__calcbox .form__imperial-weight .foot__container .st,
        .bmi__calcbox .form__imperial-weight .foot__container .lbs,
        .bmi__calcbox .form__imperial-weight .inch__container .ft,
        .bmi__calcbox .form__imperial-weight .inch__container .in,
        .bmi__calcbox .form__imperial-weight .inch__container .st,
        .bmi__calcbox .form__imperial-weight .inch__container .lbs,
        .bmi__calcbox .form__imperial-weight .stone__container .ft,
        .bmi__calcbox .form__imperial-weight .stone__container .in,
        .bmi__calcbox .form__imperial-weight .stone__container .st,
        .bmi__calcbox .form__imperial-weight .stone__container .lbs,
        .bmi__calcbox .form__imperial-weight .pounds__container .ft,
        .bmi__calcbox .form__imperial-weight .pounds__container .in,
        .bmi__calcbox .form__imperial-weight .pounds__container .st,
        .bmi__calcbox .form__imperial-weight .pounds__container .lbs {
          left: 24rem; } }
      @media (max-width: 37.75em) {
        .bmi__calcbox .form__metric-height .cm__container .ft,
        .bmi__calcbox .form__metric-height .cm__container .in,
        .bmi__calcbox .form__metric-height .cm__container .st,
        .bmi__calcbox .form__metric-height .cm__container .lbs,
        .bmi__calcbox .form__metric-height .kg__container .ft,
        .bmi__calcbox .form__metric-height .kg__container .in,
        .bmi__calcbox .form__metric-height .kg__container .st,
        .bmi__calcbox .form__metric-height .kg__container .lbs,
        .bmi__calcbox .form__metric-height .foot__container .ft,
        .bmi__calcbox .form__metric-height .foot__container .in,
        .bmi__calcbox .form__metric-height .foot__container .st,
        .bmi__calcbox .form__metric-height .foot__container .lbs,
        .bmi__calcbox .form__metric-height .inch__container .ft,
        .bmi__calcbox .form__metric-height .inch__container .in,
        .bmi__calcbox .form__metric-height .inch__container .st,
        .bmi__calcbox .form__metric-height .inch__container .lbs,
        .bmi__calcbox .form__metric-height .stone__container .ft,
        .bmi__calcbox .form__metric-height .stone__container .in,
        .bmi__calcbox .form__metric-height .stone__container .st,
        .bmi__calcbox .form__metric-height .stone__container .lbs,
        .bmi__calcbox .form__metric-height .pounds__container .ft,
        .bmi__calcbox .form__metric-height .pounds__container .in,
        .bmi__calcbox .form__metric-height .pounds__container .st,
        .bmi__calcbox .form__metric-height .pounds__container .lbs, .bmi__calcbox .form__metric-weight .cm__container .ft,
        .bmi__calcbox .form__metric-weight .cm__container .in,
        .bmi__calcbox .form__metric-weight .cm__container .st,
        .bmi__calcbox .form__metric-weight .cm__container .lbs,
        .bmi__calcbox .form__metric-weight .kg__container .ft,
        .bmi__calcbox .form__metric-weight .kg__container .in,
        .bmi__calcbox .form__metric-weight .kg__container .st,
        .bmi__calcbox .form__metric-weight .kg__container .lbs,
        .bmi__calcbox .form__metric-weight .foot__container .ft,
        .bmi__calcbox .form__metric-weight .foot__container .in,
        .bmi__calcbox .form__metric-weight .foot__container .st,
        .bmi__calcbox .form__metric-weight .foot__container .lbs,
        .bmi__calcbox .form__metric-weight .inch__container .ft,
        .bmi__calcbox .form__metric-weight .inch__container .in,
        .bmi__calcbox .form__metric-weight .inch__container .st,
        .bmi__calcbox .form__metric-weight .inch__container .lbs,
        .bmi__calcbox .form__metric-weight .stone__container .ft,
        .bmi__calcbox .form__metric-weight .stone__container .in,
        .bmi__calcbox .form__metric-weight .stone__container .st,
        .bmi__calcbox .form__metric-weight .stone__container .lbs,
        .bmi__calcbox .form__metric-weight .pounds__container .ft,
        .bmi__calcbox .form__metric-weight .pounds__container .in,
        .bmi__calcbox .form__metric-weight .pounds__container .st,
        .bmi__calcbox .form__metric-weight .pounds__container .lbs,
        .bmi__calcbox .form__imperial-height .cm__container .ft,
        .bmi__calcbox .form__imperial-height .cm__container .in,
        .bmi__calcbox .form__imperial-height .cm__container .st,
        .bmi__calcbox .form__imperial-height .cm__container .lbs,
        .bmi__calcbox .form__imperial-height .kg__container .ft,
        .bmi__calcbox .form__imperial-height .kg__container .in,
        .bmi__calcbox .form__imperial-height .kg__container .st,
        .bmi__calcbox .form__imperial-height .kg__container .lbs,
        .bmi__calcbox .form__imperial-height .foot__container .ft,
        .bmi__calcbox .form__imperial-height .foot__container .in,
        .bmi__calcbox .form__imperial-height .foot__container .st,
        .bmi__calcbox .form__imperial-height .foot__container .lbs,
        .bmi__calcbox .form__imperial-height .inch__container .ft,
        .bmi__calcbox .form__imperial-height .inch__container .in,
        .bmi__calcbox .form__imperial-height .inch__container .st,
        .bmi__calcbox .form__imperial-height .inch__container .lbs,
        .bmi__calcbox .form__imperial-height .stone__container .ft,
        .bmi__calcbox .form__imperial-height .stone__container .in,
        .bmi__calcbox .form__imperial-height .stone__container .st,
        .bmi__calcbox .form__imperial-height .stone__container .lbs,
        .bmi__calcbox .form__imperial-height .pounds__container .ft,
        .bmi__calcbox .form__imperial-height .pounds__container .in,
        .bmi__calcbox .form__imperial-height .pounds__container .st,
        .bmi__calcbox .form__imperial-height .pounds__container .lbs,
        .bmi__calcbox .form__imperial-weight .cm__container .ft,
        .bmi__calcbox .form__imperial-weight .cm__container .in,
        .bmi__calcbox .form__imperial-weight .cm__container .st,
        .bmi__calcbox .form__imperial-weight .cm__container .lbs,
        .bmi__calcbox .form__imperial-weight .kg__container .ft,
        .bmi__calcbox .form__imperial-weight .kg__container .in,
        .bmi__calcbox .form__imperial-weight .kg__container .st,
        .bmi__calcbox .form__imperial-weight .kg__container .lbs,
        .bmi__calcbox .form__imperial-weight .foot__container .ft,
        .bmi__calcbox .form__imperial-weight .foot__container .in,
        .bmi__calcbox .form__imperial-weight .foot__container .st,
        .bmi__calcbox .form__imperial-weight .foot__container .lbs,
        .bmi__calcbox .form__imperial-weight .inch__container .ft,
        .bmi__calcbox .form__imperial-weight .inch__container .in,
        .bmi__calcbox .form__imperial-weight .inch__container .st,
        .bmi__calcbox .form__imperial-weight .inch__container .lbs,
        .bmi__calcbox .form__imperial-weight .stone__container .ft,
        .bmi__calcbox .form__imperial-weight .stone__container .in,
        .bmi__calcbox .form__imperial-weight .stone__container .st,
        .bmi__calcbox .form__imperial-weight .stone__container .lbs,
        .bmi__calcbox .form__imperial-weight .pounds__container .ft,
        .bmi__calcbox .form__imperial-weight .pounds__container .in,
        .bmi__calcbox .form__imperial-weight .pounds__container .st,
        .bmi__calcbox .form__imperial-weight .pounds__container .lbs {
          left: 10rem; } }
    .bmi__calcbox .form__metric .input__btn,
    .bmi__calcbox .form__imperial .input__btn {
      display: none; }
  @media (max-width: 37.75em) {
    .bmi__calcbox .form__metric {
      grid-template-columns: 1fr; } }
  .bmi__calcbox .result__box {
    padding: 2.4rem 4rem;
    border-radius: 0.6rem;
    background-color: #345ff6;
    color: #ffffff; }
    .bmi__calcbox .result__box .display__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5.2rem; }
      @media (max-width: 37.75em) {
        .bmi__calcbox .result__box .display__box {
          grid-template-columns: 1fr; } }
      .bmi__calcbox .result__box .display__box-result {
        animation: slideRight 0.2s; }
        @media (max-width: 37.75em) {
          .bmi__calcbox .result__box .display__box-result {
            animation: moveDown 0.2s; } }
        .bmi__calcbox .result__box .display__box-result .result__tip {
          margin-bottom: 2rem;
          font-size: 1.6rem; }
        .bmi__calcbox .result__box .display__box-result .bmi__result {
          font-size: 5.2rem;
          font-weight: 700; }
      .bmi__calcbox .result__box .display__box-recommendation {
        font-size: 1.6rem;
        animation: slideLeft 0.2s; }
        @media (max-width: 37.75em) {
          .bmi__calcbox .result__box .display__box-recommendation {
            animation: moveUp 0.2s; } }
        .bmi__calcbox .result__box .display__box-recommendation .bmi__recommendation {
          line-height: 1.5; }
        .bmi__calcbox .result__box .display__box-recommendation .min-bmi,
        .bmi__calcbox .result__box .display__box-recommendation .dash-separator,
        .bmi__calcbox .result__box .display__box-recommendation .max-bmi {
          font-weight: 700; }
    .bmi__calcbox .result__box-welcome {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 1.6rem; }
    .bmi__calcbox .result__box-info {
      font-size: 1.6rem; }
    .bmi__calcbox .result__box .error__box {
      background-color: inherit;
      color: #ffffff; }
      .bmi__calcbox .result__box .error__box-subheading {
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
        animation: moveDown 0.2s; }
      .bmi__calcbox .result__box .error__box-message {
        font-size: 1.6rem;
        text-align: center;
        animation: moveUp 0.2s; }

.header__main {
  max-width: 70%;
  margin-left: 2rem;
  padding: 4rem 4rem;
  height: 90vh;
  background-image: linear-gradient(to bottom right, #ffffff, #d8e2e7);
  border-radius: 0 0 4rem 4rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .header__main {
      height: 50vh;
      max-width: 100%;
      margin-left: 0;
      padding: 4rem 8rem; } }
  @media (max-width: 37.75em) {
    .header__main {
      height: 70vh; } }
  @media (max-width: 56.25em) {
    .header__main-logo {
      text-align: center; } }
  @media (max-width: 56.25em) {
    .header__main .logo {
      width: 6rem; } }
  .header__main-textbox {
    max-width: 60%; }
    @media (max-width: 56.25em) {
      .header__main-textbox {
        max-width: 100%; } }
  .header__main-heading-main {
    font-size: 4.8rem;
    font-weight: 600;
    color: #253347;
    animation: moveDown 1s; }
    @media (max-width: 56.25em) {
      .header__main-heading-main {
        text-align: center; } }
  .header__main-text-main {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #5e6e85;
    animation: moveUp 1s; }
    @media (max-width: 56.25em) {
      .header__main-text-main {
        text-align: center; } }

.section__result-analysis .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }
  @media (max-width: 56.25em) {
    .section__result-analysis .wrapper {
      margin-top: 30rem; } }
  @media (max-width: 37.75em) {
    .section__result-analysis .wrapper {
      margin-top: 60rem; } }
  @media (max-width: 37.75em) {
    .section__result-analysis .wrapper {
      grid-template-columns: 1fr; } }
  .section__result-analysis .wrapper__img-container {
    margin: 0 auto; }
    .section__result-analysis .wrapper__img-container .image {
      height: 50rem; }
  .section__result-analysis .wrapper__analysis-container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem; }
    @media (max-width: 37.75em) {
      .section__result-analysis .wrapper__analysis-container {
        padding: 4rem 1.8rem; } }
    .section__result-analysis .wrapper__analysis-container .analysis__heading {
      margin-top: 10rem;
      letter-spacing: 0.1rem;
      font-size: 4.8rem;
      font-weight: 600;
      color: #253347; }
    .section__result-analysis .wrapper__analysis-container .analysis__description {
      font-size: 1.6rem;
      line-height: 1.5;
      color: #5e6e85; }

.section__guidelines {
  padding: 4rem;
  margin: 8rem 0;
  background-color: #d8e2e7; }
  @media (max-width: 37.75em) {
    .section__guidelines {
      padding: 3.2rem 0.8rem; } }
  .section__guidelines-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem; }
    @media (max-width: 56.25em) {
      .section__guidelines-container {
        grid-template-columns: 1fr; } }
    .section__guidelines-container .guideline__item {
      padding: 0 4rem; }
      @media (max-width: 37.75em) {
        .section__guidelines-container .guideline__item {
          padding: 0 1.8rem; } }
      @media (max-width: 56.25em) {
        .section__guidelines-container .guideline__item-logo {
          float: left;
          content: "";
          clear: both; } }
      @media (max-width: 37.75em) {
        .section__guidelines-container .guideline__item-logo {
          float: none; } }
      @media (max-width: 56.25em) {
        .section__guidelines-container .guideline__item-heading, .section__guidelines-container .guideline__item-description {
          margin-left: 14rem; } }
      @media (max-width: 37.75em) {
        .section__guidelines-container .guideline__item-heading, .section__guidelines-container .guideline__item-description {
          margin-left: 0; } }
      .section__guidelines-container .guideline__item-heading {
        font-size: 2.4rem;
        font-weight: 500;
        color: #253347; }
      .section__guidelines-container .guideline__item-description {
        font-size: 1.6rem;
        color: #5e6e85; }

.section__limitations {
  padding: 0 4rem;
  height: 120vh; }
  @media (max-width: 56.25em) {
    .section__limitations {
      height: 60vh; } }
  @media (max-width: 37.75em) {
    .section__limitations {
      padding: 0 1.8rem; } }
  .section__limitations-container {
    padding: inherit; }
  .section__limitations .limitations__intro-container {
    max-width: 50%;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .section__limitations .limitations__intro-container {
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 10rem; } }
    .section__limitations .limitations__intro-container .limitations__heading {
      font-size: 4.8rem;
      color: #253347; }
      @media (max-width: 56.25em) {
        .section__limitations .limitations__intro-container .limitations__heading {
          text-align: center; } }
    .section__limitations .limitations__intro-container .limitations__description {
      font-size: 1.6rem;
      color: #5e6e85;
      line-height: 1.5; }
      @media (max-width: 56.25em) {
        .section__limitations .limitations__intro-container .limitations__description {
          text-align: center; } }
  .section__limitations .limitations__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.8rem;
    position: relative; }
    @media (max-width: 56.25em) {
      .section__limitations .limitations__cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        position: relative; } }
    @media (max-width: 37.75em) {
      .section__limitations .limitations__cards-container {
        grid-template-columns: 1fr; } }
    .section__limitations .limitations__cards-container .card {
      padding: 2rem 2.4rem;
      box-shadow: 1rem 0 4rem rgba(37, 51, 71, 0.15);
      border-radius: 2rem; }
      .section__limitations .limitations__cards-container .card:nth-child(1), .section__limitations .limitations__cards-container .card:nth-child(2), .section__limitations .limitations__cards-container .card:nth-child(3), .section__limitations .limitations__cards-container .card:nth-child(4), .section__limitations .limitations__cards-container .card:nth-child(5) {
        max-width: 38rem;
        position: absolute; }
        @media (max-width: 75em) {
          .section__limitations .limitations__cards-container .card:nth-child(1), .section__limitations .limitations__cards-container .card:nth-child(2), .section__limitations .limitations__cards-container .card:nth-child(3), .section__limitations .limitations__cards-container .card:nth-child(4), .section__limitations .limitations__cards-container .card:nth-child(5) {
            position: absolute; } }
        @media (max-width: 56.25em) {
          .section__limitations .limitations__cards-container .card:nth-child(1), .section__limitations .limitations__cards-container .card:nth-child(2), .section__limitations .limitations__cards-container .card:nth-child(3), .section__limitations .limitations__cards-container .card:nth-child(4), .section__limitations .limitations__cards-container .card:nth-child(5) {
            position: static;
            max-width: 100%; } }
      @media (max-width: 56.25em) {
        .section__limitations .limitations__cards-container .card:nth-child(5) {
          transform: translateX(50%); } }
      @media (max-width: 37.75em) {
        .section__limitations .limitations__cards-container .card:nth-child(5) {
          transform: translateX(0); } }
      .section__limitations .limitations__cards-container .card:nth-child(1) {
        top: -22rem;
        right: 10rem; }
      .section__limitations .limitations__cards-container .card:nth-child(2) {
        right: 43rem; }
      .section__limitations .limitations__cards-container .card:nth-child(3) {
        right: 2rem; }
      .section__limitations .limitations__cards-container .card:nth-child(5) {
        top: 20rem;
        right: 14rem; }
      .section__limitations .limitations__cards-container .card:nth-child(4) {
        top: 20rem;
        right: 55rem; }
      .section__limitations .limitations__cards-container .card__intro-container {
        display: flex;
        gap: 1.8rem;
        align-items: center; }
      .section__limitations .limitations__cards-container .card__heading {
        font-size: 1.8rem;
        color: #253347; }
      .section__limitations .limitations__cards-container .card__description-text {
        font-size: 1.6rem;
        color: #5e6e85; }
