@keyframes moveDown {
  from {
    transform: translateY(-4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(50rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}
