@mixin centerDiv {
  margin: 0 auto;
}

@mixin clearFix {
  content: "";
  clear: both;
}

@mixin fixedCardSize {
  max-width: 38rem;
}

@mixin inputUnitStyle {
  font-size: 2rem;
  font-weight: 700;
  color: $color-blue-dark;
}

@mixin respond($breakpoint) {
  @if $breakpoint == tab_land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab_port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 37.75em) {
      @content;
    }
  }
}
