.u_margin_bottom--large {
  margin-bottom: 8.2rem;
}

.u_margin_bottom--medium {
  margin-bottom: 4.8rem;
}

.u_margin_bottom--small {
  margin-bottom: 4rem;
}

.children_margin-bottom > * {
  margin-bottom: 2.4rem;
}
