// Colors

$color-white: #ffffff;
$color-blue-dark: #345ff6;
$color-light-blue: #d8e2e7;
$color-black: #253347;
$color-dark-electric-blue: #5e6e85;

// Font sizes

$heading-primary-size: 6.4rem;
$heading-secondary-size: 4.8rem;
$heading-tertiary-size: 2.4rem;
$card-heading-size: 2rem;

$body-text-size: 1.6rem;
$body-text-small: 1.4rem;
