.header__main {
  max-width: 70%;
  margin-left: 2rem;
  padding: 4rem 4rem;
  height: 90vh;
  background-image: linear-gradient(
    to bottom right,
    $color-white,
    $color-light-blue
  );
  border-radius: 0 0 4rem 4rem;
  position: relative;

  @include respond(tab_port) {
    height: 50vh;
    max-width: 100%;
    margin-left: 0;
    padding: 4rem 8rem;
  }

  @include respond(phone) {
    height: 70vh;
    max-width: 100%;
  }

  &-logo {
    @include respond(tab_port) {
      text-align: center;
    }
  }

  .logo {
    @include respond(tab_port) {
      width: 6rem;
    }
  }

  &-textbox {
    max-width: 60%;

    @include respond(tab_port) {
      max-width: 100%;
    }
  }

  &-heading-main {
    font-size: $heading-secondary-size;
    font-weight: 600;
    color: $color-black;
    animation: moveDown 1s;

    @include respond(tab_port) {
      text-align: center;
    }
  }

  &-text-main {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-dark-electric-blue;
    animation: moveUp 1s;

    @include respond(tab_port) {
      text-align: center;
    }
  }
}
