.header__main {
  max-width: 70%;
  margin-left: 2rem;
  padding: 4rem 8rem;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    $color-white,
    $color-light-blue
  );
  border-radius: 0 0 4rem 4rem;
  position: relative;

  &-textbox {
    max-width: 60%;
  }

  &-heading-main {
    font-size: $heading-secondary-size;
    font-weight: 600;
    color: $color-black;
  }

  &-text-main {
    font-size: 1.6rem;
    color: $color-dark-electric-blue;
  }
}

.bmi__calcbox {
  max-width: 100%;
  background-color: $color-white;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 2rem 0 8rem rgba($color-black, 0.15);

  &-heading {
    font-size: $heading-tertiary-size;
    font-weight: 600;
    color: $color-black;
  }
}
