.header__main {
  max-width: 100rem;
  margin-left: 2rem;
  padding: 4rem 4rem;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    $color-white,
    $color-light-blue
  );
  border-radius: 0 0 4rem 4rem;
  position: relative;

  &-textbox {
    max-width: 60%;
  }

  &-heading-main {
    font-size: $heading-secondary-size;
    font-weight: 600;
    color: $color-black;
    animation: moveDown 1s;
  }

  &-text-main {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-dark-electric-blue;
    animation: moveUp 1s;
  }
}
