.bmi__calcbox {
  max-width: 50%;
  padding: 4rem 4rem;
  border-radius: 2rem;
  background-color: $color-white;
  position: absolute;
  top: 12rem;
  right: 4rem;
  box-shadow: 2rem 0 8rem rgba($color-black, 0.15);

  @include respond(tab_port) {
    max-width: 100%;
    top: 48rem;
    right: 15rem;
  }

  @include respond(phone) {
    max-width: 80%;
    top: 60rem;
    right: 5rem;
  }

  &-heading {
    font-size: $heading-tertiary-size;
    font-weight: 600;
    color: $color-black;
  }

  .form__radio {
    font-family: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .radio__group {
      .radio__input {
        display: none;
      }

      .radio__label {
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        color: $color-black;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;

        .radio__btn {
          display: inline-block;
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 50%;
          border: 0.1rem solid $color-light-blue;
          position: absolute;
          left: 0;
          top: -0.4rem;

          &:hover {
            border: 0.1rem solid $color-blue-dark;
          }

          &::after {
            content: "";
            display: block;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            background-color: $color-blue-dark;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s;
          }
        }
      }

      .radio__input:checked + .radio__label .radio__btn {
        background-color: $color-light-blue;
      }

      .radio__input:checked + .radio__label .radio__btn::after {
        opacity: 1;
      }
    }
  }

  .form__metric,
  .form__imperial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    margin-bottom: 2rem;

    &-height,
    &-weight {
      .input__label,
      .input__label-invisible {
        display: block;
        font-size: $body-text-size;
        color: $color-dark-electric-blue;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      .input__label-invisible {
        opacity: 0;
      }

      .input__type {
        box-sizing: border-box;
        width: 100%;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 700;
        text-indent: 2rem;
        padding: 1.8rem 0;
        border-radius: 0.6rem;
        border: 0.1rem solid $color-light-blue;
        cursor: pointer;

        &:hover,
        &:focus,
        &:focus-visible {
          border: 0.1rem solid $color-blue-dark;
        }

        &::placeholder {
          font-size: 2rem;
          font-weight: 700;
          color: $color-light-blue;
        }
      }

      .cm__container,
      .kg__container,
      .foot__container,
      .inch__container,
      .stone__container,
      .pounds__container {
        position: relative;
        .cm,
        .kg,
        .ft,
        .in,
        .st,
        .lbs {
          position: absolute;
          font-size: 2rem;
          font-weight: 700;
          color: $color-blue-dark;
          top: -4.6rem;
          left: 22rem;
        }

        .cm,
        .kg {
          @include respond(tab_port) {
            left: 25rem;
          }

          @include respond(phone) {
            left: 28.4rem;
          }
        }

        .ft,
        .in,
        .st,
        .lbs {
          @include respond(tab_port) {
            left: 24rem;
          }

          @include respond(phone) {
            left: 10rem;
          }
        }
      }
    }

    .input__btn {
      display: none;
    }
  }

  .form__metric {
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  .result__box {
    padding: 2.4rem 4rem;
    border-radius: 0.6rem;
    background-color: $color-blue-dark;
    color: $color-white;

    .display__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5.2rem;

      @include respond(phone) {
        grid-template-columns: 1fr;
      }

      &-result {
        animation: slideRight 0.2s;
        @include respond(phone) {
          animation: moveDown 0.2s;
        }
        .result__tip {
          margin-bottom: 2rem;
          font-size: $body-text-size;
        }

        .bmi__result {
          font-size: 5.2rem;
          font-weight: 700;
        }
      }

      &-recommendation {
        font-size: $body-text-size;
        animation: slideLeft 0.2s;

        @include respond(phone) {
          animation: moveUp 0.2s;
        }

        .bmi__recommendation {
          line-height: 1.5;
        }

        .min-bmi,
        .dash-separator,
        .max-bmi {
          font-weight: 700;
        }
      }
    }

    &-welcome {
      font-size: $heading-tertiary-size;
      font-weight: 600;
      margin-bottom: 1.6rem;
    }

    &-info {
      font-size: $body-text-size;
    }

    .error__box {
      background-color: inherit;
      color: $color-white;

      &-subheading {
        font-size: $heading-tertiary-size;
        font-weight: 600;
        text-align: center;
        animation: moveDown 0.2s;
      }

      &-message {
        font-size: $body-text-size;
        text-align: center;
        animation: moveUp 0.2s;
      }
    }
  }
}
