.section__result-analysis {
  .wrapper {
    @include centerDiv;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    &__img-container {
      @include centerDiv;
      .image {
        height: 50rem;
      }
    }

    &__analysis-container {
      padding: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;

      .analysis__heading {
        margin-top: 10rem;
        letter-spacing: 0.1rem;
        font-size: $heading-secondary-size;
        font-weight: 600;
        color: $color-black;
      }

      .analysis__description {
        font-size: $body-text-size;
        line-height: 1.5;
        color: $color-dark-electric-blue;
      }
    }
  }
}

.section__guidelines {
  padding: 4rem;
  margin: 8rem 0;
  background-color: $color-light-blue;

  &-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    .guideline__item {
      padding: 0 2rem;
      &-heading {
        font-size: $heading-tertiary-size;
        font-weight: 500;
        color: $color-black;
      }

      &-description {
        font-size: $body-text-size;
        color: $color-dark-electric-blue;
      }
    }
  }
}
